---
layout: default
section_id: home
works_left:
- title: A Home for Henrietta
  link_to: portfolio/a-home-for-henrietta.html
  image: images/thumbnails/book.png
  categories: Illustration
- title: Inspirational Greeting Card
  link_to: portfolio/inspirational-greeting-card.html
  image: images/thumbnails/greeting-card.png
  categories: Illustration, Graphic Design
- title: Eye Care Logo
  link_to: portfolio/eye-care-logo.html
  image: images/thumbnails/blurred-vision.png
  categories: Graphic Design
- title: Cute little Crumbsnatchers
  link_to: portfolio/cute-little-crumbsnatchers.html
  image: images/thumbnails/crumb-snatchers.png
  categories: Illustration, Graphic Design
works_right:
- title: Summer Vacay Poster
  link_to: portfolio/summer-vacay-poster.html
  image: images/thumbnails/summer-vacation.png
  categories: Graphic Design
- title: Web Icons
  link_to: portfolio/web-icons.html
  image: images/thumbnails/icons.png
  categories: Graphic Design
- title: Character Stickers
  link_to: portfolio/character-stickers.html
  image: images/thumbnails/character-stickers.png
  categories: Illustration, Grpahic Design
- title: History of Medicine and Healthcare
  link_to: portfolio/history-of-medicine-and-healthcare.html
  image: images/thumbnails/infographic.png
  categories: Illustration
---

<div class="full centered-text light-grey">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h1>Felicia E. Whaley</h1>
        <h2>Illustrator & Designer</h2>
      </div>
    </div>
  </div>
<!--   <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
        I do about design, brand, print, website & packageing. To raise new questions, new possibilities, to regard old problems from a new angle, requires creative imagination and marks real advance in science.
      </p>
    </div>
  </div> -->
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Portfolio</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>