---
layout: default
section_id: home
works_left:
- title: Dear god
  link_to: portfolio-item-2.html
  image: images/thumbnails/book.png
- title: Blurred Vision
  link_to: portfolio-item-2.html
  image: images/thumbnails/blurred-vision.png
  categories: Website, brand
  categories: Website, print
- title: Green choice
  link_to: portfolio-item-2.html
  image: images/thumbnails/illustrations.png
  categories: Website
- title: Perfect bags
  link_to: portfolio-item-2.html
  image: images/thumbnails/crumb-snatchers.png
  categories: Perfect bags
works_right:
- title: Dances App
  link_to: portfolio-item-2.html
  image: images/thumbnails/summer-vacation.png
  categories: Website
- title: Vintage chairs
  link_to: portfolio-item-2.html
  image: images/thumbnails/icons.png
  categories: Graphic, brand
- title: Help Five
  link_to: portfolio-item-2.html
  image: images/thumbnails/character-stickers.png
  categories: Photography
- title: Brandbooks
  link_to: portfolio-item-2.html
  image: images/thumbnails/infographic.png
  categories: Website, graphic
---

<div class="full centered-text light-grey">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h1>Felicia E. Whaley</h1>
        <h2>Illustrator & Designer</h2>
      </div>
    </div>
  </div>
<!--   <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
        I do about design, brand, print, website & packageing. To raise new questions, new possibilities, to regard old problems from a new angle, requires creative imagination and marks real advance in science.
      </p>
    </div>
  </div> -->
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Recent works</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>